@tailwind base;
@tailwind components;
@tailwind utilities;

/* E8E2C1,F4C5AC,302532,9F2F26,ECAD7C`` */

@font-face {
  font-family: 'Hindi';
  src: url(../assets/samarkan/regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'HindiBold';
  src: url(../assets/samarkan/bold.ttf);
  font-weight: 700;
}

body {
  background-color: #e8e2c1;
  font-size: 14px;
  line-height: 1.5;
  color: #302532;
}
